*{
	margin:0;
	padding:0;
}

body,html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width:100%;
	height: 100%;

}

header{
	height: 66px;
	background-color: red;
}

div{
	float: left;
	width: 50%;

}

.logo{
	padding:25px;
}

.search{
	text-align: right;
	padding: 25px;
}

nav{
	background-color:blue;
	padding: 35px;
	float:left;
	width:15%;
	min-height:80%;	
	box-sizing: border-box;
	line-height: 1.5;
	
}
li:hover{
	color: white;
}
section{	
	padding: 20px;
	float:left;
	background-color: yellow;
	min-height:80%;
	width:85%;
	box-sizing: border-box;
}
footer{
	 width: 100%;
	 height:60px;
	 float: left;
	 text-align:right;
}
footer p{
	padding: 25px;
}

