*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	height: 100%;
	min-width:768px;
	max-width:1200px;
	padding-bottom: 25px;	
}
header {
	width: 100%;
	height: 50px;
	background-color: green;
}
nav {
	float: left;
	min-width: 300px;
	height: 100%;
	padding: 20px;
	background-color: yellow;
}
section {
	/* 	display: inline-block;
	min-width: 75%; */
	overflow: auto;
	float: none;
}
div {
	float: left;
	/* display: inline-block; */
	width:12.5%;	
	height: 30px;
}

.red{
	background-color: red;
}
.purple{
	background-color: purple;
}


footer {
	float: left;
	height: 30px;
	margin-top:-30px;
	width: 100%;
	background-color: grey;
	padding-left: 20px;
	padding-right: 20px;
}
img:hover {
 opacity: 0.8;
}